IoT/IoT_embedded/src/env.h
IoT/.pio/build/project.checksum
IoT/.pio/build/target_run/idedata.json
IoT/.pio/libdeps/target_test/Unity/examples/example_1/makefile
IoT/.pio/libdeps/target_test/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_light/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_light/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_pc_comm/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_pc_comm/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_wifi/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_wifi/Unity/examples/example_2/makefile
IoT/.vscode/c_cpp_properties.json
IoT/.vscode/launch.json
IoT/IoT_embedded/.vscode/extensions.json
IoT/IoT_embedded/.vscode/extensions.json
IoT/IoT_server/TcpGrpcBridgeServer/obj
IoT/IoT_server/TcpGrpcBridgeServer/bin