IoT/IoT_embedded/src/env.h
IoT/.pio/build/project.checksum
IoT/.pio/build/target_run/idedata.json
IoT/.pio/libdeps/target_test/Unity/examples/example_1/makefile
IoT/.pio/libdeps/target_test/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_light/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_light/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_pc_comm/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_pc_comm/Unity/examples/example_2/makefile
IoT/.pio/libdeps/win_test_wifi/Unity/examples/example_1/makefile
IoT/.pio/libdeps/win_test_wifi/Unity/examples/example_2/makefile
IoT/.vscode/c_cpp_properties.json
IoT/.vscode/launch.json
IoT/IoT_embedded/.vscode/extensions.json
IoT/IoT_embedded/.vscode/extensions.json
IoT/IoT_server/obj
IoT/IoT_server/bin
IoT/IoT_embedded/lib/private/env.h
IoT/IoT_server/.idea/encodings.xml
IoT/IoT_server/.idea/indexLayout.xml
IoT/IoT_server/.idea/vcs.xml
IoT/IoT_server/TcpGrpcBridgeServer/bin/Debug/net9.0/TcpGrpcBridgeServer.dll
IoT/IoT_server/TcpGrpcBridgeServer/bin/Debug/net9.0/TcpGrpcBridgeServer.exe
IoT/IoT_server/TcpGrpcBridgeServer/bin/Debug/net9.0/TcpGrpcBridgeServer.pdb
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/12fbc7ffe642ca7e_pump.protodep
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/apphost.exe
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/Protos/Pump.cs
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/Protos/PumpGrpc.cs
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/ref/TcpGrpcBridgeServer.dll
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/refint/TcpGrpcBridgeServer.dll
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.AssemblyInfo.cs
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.AssemblyInfoInputs.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.assets.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.csproj.AssemblyReference.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.csproj.CoreCompileInputs.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.csproj.FileListAbsolute.txt
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.dll
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.GeneratedMSBuildEditorConfig.editorconfig
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.genruntimeconfig.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.pdb
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.sourcelink.json
IoT/IoT_server/TcpGrpcBridgeServer/obj/project.assets.json
IoT/IoT_server/TcpGrpcBridgeServer/obj/project.nuget.cache
IoT/IoT_server/TcpGrpcBridgeServer/obj/TcpGrpcBridgeServer.csproj.nuget.dgspec.json
IoT/IoT_server/TcpGrpcBridgeServer/obj/TcpGrpcBridgeServer.csproj.nuget.g.props
IoT/IoT_server/TcpGrpcBridgeServer/.idea/.idea.TcpGrpcBridgeServer/.idea/encodings.xml
IoT/IoT_server/TcpGrpcBridgeServer/.idea/.idea.TcpGrpcBridgeServer/.idea/indexLayout.xml
IoT/IoT_server/TcpGrpcBridgeServer/.idea/.idea.TcpGrpcBridgeServer/.idea/vcs.xml
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
IoT/IoT_server/TcpGrpcBridgeServer/obj/Debug/net9.0/TcpGrpcBridgeServer.GlobalUsings.g.cs
IoT/IoT_server/TcpGrpcBridgeServer/obj/project.packagespec.json
IoT/IoT_server/TcpGrpcBridgeServer/obj/rider.project.model.nuget.info
IoT/IoT_server/TcpGrpcBridgeServer/obj/rider.project.restore.info
IoT/IoT_server/TcpGrpcBridgeServer/obj/TcpGrpcBridgeServer.csproj.nuget.g.targets
IoT/IoT_server/TcpGrpcBridgeServer/obj
IoT/IoT_server/TcpGrpcBridgeServer/bin
