.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.notification-area {
    margin-left: 20px;
}

/* Styles for dashboard */
.top-bar.dashboard .dropdown {
    position: absolute;
    left: 20px;
    top: 20px;
}

.top-bar.dashboard h1 {
    margin: 0 auto;
}