
bin/
obj/


*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/


*.dll
*.exe
*.pdb
*.cache
*.log

Migrations/*Snapshot.cs

*.tmp
*.temp

publish/
.idea/
*.iml


.DS_Store
Thumbs.db


TestResults/

node_modules/
packages/

dist/
out/